<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page Not Found</title>
        <link rel="icon" href="/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body id="error404">

    <div class="error-card">

        <h1>404</h1>

        <h2>Oops! Page Not Found</h2>

        <p>
            Sorry, the page you're looking for doesn't exist or may have been moved.
        </p>

        <a href="/" class="home-btn">
            Return Home
        </a>

    </div>

</body>

</html>