<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Shelf</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include('./partials/navbar') %>
        <section class="hero">
            <div class="videos">
                <video autoplay muted loop playsinline>
                    <source src="/videos/homevideo.mp4" type="video/mp4">
                </video>
            </div>

            <div class="hero-content">
                <h1>Welcome to <br /> Recipe Shelf</h1>
                <p>Discover delicious recipes from around the world.</p>
            </div>
        </section>
        <div class="hero-buttons">

            <div class="hero-stats">
                <h2>
                    <%= userCount %> Members
                </h2>
                <h2>
                    <%= recipeCount %> Recipes
                </h2>
            </div>

            <div class="hero-actions">

                <a href="/recipes/all-recipes" class="primary-btn">
                    🍽️ Explore Recipes
                </a>

                <% if (!user) { %>
                    <a href="/auth/sign-up" class="secondary-btn">
                        👩‍🍳 Start Cooking
                    </a>
                    <% } %>

            </div>

        </div>


        <section class="features">

            <div class="feature-card">
                <h3>🍽️ Discover Recipes</h3>
                <p>Browse recipes from different cuisines and categories.</p>
            </div>

            <div class="feature-card">
                <h3>❤️ Save Favorites</h3>
                <p>Keep your favorite recipes in one convenient place.</p>
            </div>

            <div class="feature-card">
                <h3>✍️ Share Recipes</h3>
                <p>Create and share your own delicious recipes.</p>
            </div>

        </section>
</body>

</html>