<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete?</title>
    <link rel="stylesheet" href="/css/add-edit-delete.css">
</head>

<body>
    <%- include('../partials/navbar') %>
        <div class="container">
            <div class="card panel">
                <p>Are you sure you want to delete this recipe? </p>
                <div class="delete-btns">
                    <form class="btn" action="/recipes/all-recipes" method="get">
                        <button>No</button>
                    </form>
                    <form class="btn" action="/recipes/<%= currentRecipe._id %>?_method=DELETE" method="post">
                        <button>Yes</button>
                    </form>
                </div>
</body>

</html>